
html {
	background-color: #009688;
	font-size: 25px;
    color: white;
}



.check-in-control {
	width: 50%;
	height: 160px;
	margin: auto;
	text-align: center;
	padding-top: 200px;
}

.check-in-control button {
	width: 300px;
    height: 80px;
    margin: auto;
	font-size: 25px;
}

.check-in-list {
	width: 50%;
	height: 200px;
	margin: auto;
}
